*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('coffe.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: Arial;
    font-size: 35px;
    color: #ffffff;
    padding-left: 8px;
}

header{
    background-color: transparent;
    
    justify-content: space-between;
   display: flex;
    
}
.coffe{
    justify-content: space-between;

}
.social{
    font-size: 23px;
}
.nav-bar{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

ul{
    display: flex;
    justify-content: space-between;
    
}
li,a{
    list-style: none;
    color: #ffffff;
    margin: 6px;
    text-decoration: none;
    font-size: 25px;

}